target
work

# Vim junk files
.*.swp
*~

# IntelliJ project files
.idea/
*.iml

# Eclipse IDE project files
.classpath
.project
.settings/
/splunkjenkins/nbproject/

#debug log
debug.log
debug.log.lck
